@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Ubuntu:wght@300&display=swap');

:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

* {
    color: var(--blue);
    text-decoration: none;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

hr {
    margin-top: 20px;
}

header {
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    z-index: 9;
}

#hamItems {
    width: 50%;
    list-style: none;
    display: flex;
}
#hamItems a {
    width: 100%;
}
 
#hamItems li {
    margin-left: 10px;
    margin-right: 10px;
}

#hamNav label, #hamburger { display: none; }

#hamNav label { font-size: 1.5em; }

#hamNav {
    background:var(--blue);
    display: flex;
}

#hamNav, #hamItems a {
  padding: 5px;
  color: var(--white);
  text-decoration: none;
}

#hamItems a {
    font-size: x-large;
    border-radius: 10px;
    transition: 0.5s;
}

#hamItems a:hover { 
    background: var(--white); 
    color: var(--blue);
}

#logo {
    right: 10px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: xx-large;
    border-radius: 10px;
    transition: 0.25s;
    padding: 5px;
    color: var(--white);
}

#logo:hover {
    background: var(--white); 
    color: var(--blue);
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}

section {
    animation: appear;
    animation-duration: 1s;

}

fieldset {
    border-radius: 15px;
}

#about {
    padding-top: 75px;
}

.intro {
    width: 55%;
}

.intro fieldset{
    left: auto;
    right: auto;
    width: 100%;
    font-size: large;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.intro fieldset div {
    width: 50%;
}

.intro-text {
    display: flex; 
    flex-direction:column;
    gap: 50px;
}

.intro-text p {
    font-weight: bold;
    margin: 0%;
}

.intro-img {
    margin-left: 10px;
    background-color: var(--white);
    opacity: 0.5;
    z-index: 0;
    border-radius: 15px;
}

.intro-img img {
    max-width: 100%;
}

#education {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#education fieldset {
    margin-right: 20px;
    width: 55%;
}

#education td {
    width: 50%;
}

.school-profile {
    text-decoration: overline underline;
    text-align: center;
    font-size: large;
}

#experiences fieldset {
    margin-left: 20px;
    width: 55%;
}

#experiences table {
    width: 100%;
}

#experiences td {
    width: 50%;
}

.work-tech {
    text-align: right;
}

#contact {
    margin-bottom: 20px;
    text-align: center;
}

#contact table {
    width: 100%;
}

#contact img {
    max-width: 40px;
    max-height: 40px;
}

@media only screen and (max-width: 768px) {

    #hamNav label {
        color: var(--white);
        z-index: 9;
        display: inline-block;
    }
    
    #hamItems { flex-wrap:nowrap; }

    #hamItems { display: none; }

    #logo {
        display: none;
    }

    #hamNav input:checked ~ #hamItems {
        display: flex; 
        flex-direction: column;
        padding-left: 20px;
    }

    legend {
        font-size: small;
    }

    .intro {
        width: 100%;
    }

    .intro fieldset {
        width:80%;
        margin:auto;
    }

    .intro fieldset div {
        gap: 20px;
        width: 100%;
    }

    .intro-img {
        width: 0;
        display: none;
    }

    #education {
        display: block;
        width: 100%;
    }

    #education fieldset {
        width: 80%;
        margin: auto;
    }

    .icon img {
        width: 150px;
        height: auto;
    }

    #experiences {
        display: block;
        width: 100%;
    }

    #experiences  fieldset {
        width: 80%;
        margin: auto;
    }
}